.header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header h1 {
    color: #758BFD;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.8px;
    word-spacing: 6px;
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 1.5rem;
    }
}